<html>

<body>
    <div>
        <form action="/logout" method="post">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
            <input type="submit" value="Sign Out"/>
        </form>
    </div>
    <div>
        <form method="post">
            <input type="text" name="modelCar" placeholder="Модель" />
            <input type="text" name="engineNumber" placeholder="Двигатель">
            <input type="text" name="number" placeholder="Номер">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
            <button type="submit">Добавить</button>
        </form>
    </div>
    {{#cars}}
    <div>
        <b>{{id}}</b>
        <span>{{modelCar}}</span>
        <i>{{engineNumber}}</i>
        <strong>{{number}}</strong>
    </div>
    {{/cars}}
</body>
</html>