<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <form action="/check" method="post">
        <div>
            <select name="engineNumber">
                {{#cars}}
                    <option >{{engineNumber}}</option>
                {{/cars}}
            </select>
            <select name="ownerName">
                {{#owners}}
                    <option>{{ownerName}}</option>
                {{/owners}}
            </select>
            <select name="result">
                <option>Прошел</option>
                <option>Не прошел</option>
            </select>
        </div>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
        <button type="submit">Добавить</button>
    </form>
    {{#checks}}
        <div>
            <b>{{id}}</b>
            <span>{{engineNumber}}</span>
            <i>{{ownerName}}</i>
            <strong>{{result}}</strong>
        </div>
    {{/checks}}
</body>
</html>